/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.example {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* layout css */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


main > .container {
  padding: 80px 15px 0;
  min-height: 90vh;
}

.footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px; 
  background-color: #c7c3c3;
} 

/* .myclass{
  background: #2d2d2d;
} */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


/* pre {
  tab-size: initial;
  color: rgb(255, 255, 255);
  background: rgb(37, 37, 37);
  white-space: pre-wrap;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  overflow-x: auto;
} */

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}



code {
  /* font-family: 'Inconsolata', monospace; */
  margin: 5px;
  padding: 1em;
     margin: .5em 0;
     overflow: auto;
}

.load-more{

  display: block;
  border: 0;
  margin: 1em auto;
  padding: .75em 1em;
  font-size: 1em;
  background-color: #c34d41;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  /* font-family: $sans; */
  cursor: pointer;
  
  /* &:focus
    outline: 1px solid rgba(255, 255, 255, .5); */
}

.post-title{
  display: block;
  font-size: 1.5em;
  /* margin-top: 0.83em;
  margin-bottom: 0.83em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.name, select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:auto;
  display:block
}