/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.example {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.05); */
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* layout css */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



main > .container {
  padding: 80px 15px 0;
}

/* article list and article view css */

body{
  font-size:20px;color:#212529;font-family:Lora,'Times New Roman',serif
}

.post-preview>a{color:#212529}
.post-preview>a:focus,.post-preview>a:hover{text-decoration:none;color:#0085a1}

.post-title{font-size:25px;margin-top:30px;margin-bottom:10px}
.post-subtitle{margin:0 0 10px; font-size:20px;color:#57595c}

.post-preview>.post-meta{font-size:18px;font-style:italic;margin-top:0;color:#868e96}

.post-preview>.post-meta>a{text-decoration:none;color:#212529}
.post-preview>.post-meta>a:focus,
.post-preview>.post-meta>a:hover{text-decoration:underline;color:#0085a1}
@media only screen and (min-width:768px){.post-preview>a>.post-title{font-size:36px}}